@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F5F5F5;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800; /* Bold for headings */
  font-size: 24px;
}

p, span, li {
  font-weight: 400; /* Regular for body text */
  font-size: 16px;
}


